#logocosmica{
    display: block;
    margin: 0 auto;  
}
.inicio {
    display: flex;
    list-style-type: none; 
    padding: 0; 
    margin:  0.1rem 0 0; 
    
}

.inicio li {
    margin-right: 90px; 
}

.inicio li a{
    color: white;
    text-decoration: none;
}

.cabeçalho{
    background: #f4f4f4;
    padding: 2.7rem;
    background-color: #61806b;
    text-align: center;
    padding: 15px;
}
nav{
    flex-direction: column;
    display: flex;
    align-items: center;
}
footer {
    background-color: #61806b; /* Cor de fundo do footer */
    padding: 20px; /* Espaçamento interno */
}
.instagram{
    max-width: 40px;
}

.tiktok{
    max-width: 70px;
}

.whatsapp{
    max-width: 60px;
}
.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: start; 
}
.u{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    max-width: 350px; 
}

.redes-sociais ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    color: white;
}
.redes-sociais li {
    margin-left: 15px; 
    display: flex; 
    align-items: center; 
}

.redes-sociais img {
    margin-right: 5px; 
}
.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: start; 
}
.texto, #formu {
    padding: 20px;
    margin: 5px;
}
.formulario{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 15%;
}
.enviar{
    background-color: #61806b;
    width: 20%;
    display:flex;
    justify-content: center;
}
.botao{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.texto{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 15%;
}
.t3{
    font-weight: bold;
}