body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 251, 251);
    
}

#logocosmica{
    display: block;
    margin: 0 auto;  
}

.inicio {
    display: flex;
    list-style-type: none; 
    padding: 0; 
    margin:  0.1rem 0 0; 
    
}

.inicio li {
    margin-right: 90px; 
}

.inicio li a{
    color: white;
    text-decoration: none;
}

.cabeçalho{
    background: #f4f4f4;
    padding: 2.7rem;
    background-color: #61806b;
    text-align: center;
    padding: 15px;
}

nav{
    flex-direction: column;
    display: flex;
    align-items: center;
    
   
}

section {
    margin: 100px;
    font-style: italic;
}

section h1 {
    text-align: center;
    margin-bottom: 50px;
}

p {
    font-size: 20px;
}

.paragrafo1 {
    margin-bottom: 15px;
}

.secao1{
   background-image: url('imagens/calca_jeans.jpg');
    width: 100%; 
    height: 400px;
    margin: 0;    /* Remove a margem */
    padding: 0;   /* Remove o padding */
}

.titulo1{
    color: #f4f4f4;
    display: flex;
    position: relative;
    top: 170px;
    left: 100px;
    
   
}

.texto{
    color: #f4f4f4;
    text-align: center;
}

.paragrafo2{
    text-align: center;
}

.imagens{
    display: flex;
    justify-content: center;
    align-items: center;
   
}



.imagem1,
.imagem2,
.imagem3 {
    margin: 10px; 
}

.imagens{
    display: flex; /*alinha os itens*/
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Alinha verticalmente */
}

.img {
    width: 400px; 
    height: auto;  
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 10px; 
}

.sinais p {
    font-size: 54px; 
    margin: 5px 0; 
    color: green;
}

footer {
    background-color: #61806b; /* Cor de fundo do footer */
    padding: 20px; /* Espaçamento interno */
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: start;  
}
.u{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    max-width: 350px; 
}

.redes-sociais ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    color: white;
}

.redes-sociais li {
    margin-left: 15px; 
    display: flex; 
    align-items: center; 
}

.redes-sociais img {
    margin-right: 5px; 
}

.instagram{
    max-width: 40px;
}

.tiktok{
    max-width: 70px;
}

.whatsapp{
    max-width: 60px;
}














/*.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    padding: 100px;
    border-radius: 15px;
    margin-bottom: 5%;
}

.grid-item1 {
    background-color: #f4f4f4;
    border: 1px solid rgba(71, 160, 120);
    padding: 20px;
    box-shadow: 10px 10px 10px 5px rgb(71, 160, 120);
    text-align: center;
    border-radius: 20px;
}

.grid-item1 h2 {
    margin-top: 0;
    text-align: center;
}

.grid-item1 p {
    text-align: center;
    margin: 0;
}

/*.upcycling {
    position: relative; 
    background-color: blue;
    /*background-image: url('imagens/estrelas.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir o contêiner 
    width: 100vh;
    margin: 0;
    left: 50%; /*centralizar
    transform: translateX(-50%); /* Ajusta para centralizar 
}

.texto {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /*CENTRALIZANDO NO MEIO
    color: white;
    text-align: center; 
    padding: 10px; 
    border-radius: 5px; 
}*/
